name: LaTeX to PDF

on: [push]
  # push:
  #   paths: main.tex
  #   tags: v*.*

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Build docker image
        uses: ./.github/actions/latex
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Check pdf file
        run: file ./build/main.pdf | grep -q ' PDF '
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          name: id_rsa
          known_hosts: ${{ secrets.KNOWN_HOSTS }}
      - name: Show env
        run: pwd && ls -la
      # - name: Deploy pdf
      #   run: rsync -acvz --delete ./build/main.pdf user@remote:/path/to/deploy/
